body {
    background-color: #000000;
}

.container {
    position: relative;
    background: #000000;
    max-width: 1200px;
    margin-bottom: 4%;

}

.container h1 {
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 8%;
    font-family: 'Times New Roman', Times, serif;

}


.container h3 {
    font-size: 16px;
    color: #7e7e7e;
    text-align: center;
    padding: 10px 0px 4%;

}



.container .image-container .row {
    margin-bottom: 4px;
    


}

.container .image-container .image {
    overflow: hidden;
    max-width: auto;

}

.container .image-container .image img {
    width: 100%;
    max-height: 2400px;
    height: 100%;

}

