/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
    font-family: 'Noto Sans TC', 'Roboto';
}


/* 主視覺 */
.kv {
    background-color: #F7F6FB;
}

.kv img {
    width: 100%;
    max-width: 800px;
}


/* 角色 */
.role {
    background-color: #01402B;
}

.role .container {
    color: #FFFFFF;
    width: 100%;
    max-width: 800px;
}

.role .tag p {
    color: #FFFFFF;
    padding: 6px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-right: 10px;
}


/* 專案背景 */
.project,
.research,
.ideate,
.test,
.result,
.vision {
    background-color: #F7F6FB;
}

.project .container {
    color: #000000;
    width: 100%;
    max-width: 800px;
}


.project .container h3 {
    margin-bottom: 30px;
}

.project .container p {
    line-height: 32px;
}

/* 成果 */
.effect {
    background-color: #DFDFDF;
}


.effect .container {
    width: 100%;
    max-width: 375px;
}

.effect .text h2,
.effect h1 {
    color: #000000;
}

.effect .text .min {
    font-weight: 900;
    color: #01402B;
}

/* 專案研究 */
.research .container,
.ideate .container,
.test .container,
.result .container,
.vision .container {
    max-width: 800px;
}


.research img,
.ideate img,
.test img,
.result h3,
.result img,
.vision img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}


/* 設計方法 */



/* 成果 */
.result .container .container {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: -2px 11px 30px 0px rgba(0, 0, 0, 0.09);
}

/* 視覺 */
.vision {
    padding-bottom: 100px;
}


/* App */
.app {
    background-color: #FAFAFA;
}

.app .container img {
    max-height: 88px;
    max-width: 200px;
}



/* 快捷選單 */
.menu {
    position: fixed;
    right: 40px;
    top: 30%;
}

.menu ul {
    list-style: none;
}


.menu ul a {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: #000000;

}

.menu .dot {
    border: 2px solid #17171C;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    margin-right: 10px;
}

.menu li:hover .dot {
    background-color: #01402B;
    border-color: #01402B;

}







/* 小叮嚀 */
.memo {
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.memo p {
    color: #FFFFFF;
    font-size: 14px;
}