/* event */


body {
    background-color: #000000;
}

.container {
    position: relative;
    background: #000000;
    max-width: 1200px;


}

.container h1 {
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 8%;
    font-family: 'Times New Roman', Times, serif;

}


.container h3 {
    font-size: 16px;
    color: #7e7e7e;
    text-align: center;
    padding: 10px 0px;

}



.gallery {
    display: flex;
    justify-content: center;
}

.gallery .images {
    width: 90%;
    max-width: 1800px;
    margin: 40px 0;
    padding: 0;
    list-style: none;
}

/* 每張圖片 */
.gallery .images .img {
    width: calc((100% - 60px) / 5);
    /* 5欄 */
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.gallery .images img {
    display: block;
    width: 100%;
}



/* Image lightbox styling */
.lightbox {
    position: fixed;
    inset: 0;
    z-index: 999;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.9);
}

.lightbox.show {
    visibility: visible;
}

.lightbox .wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 850px;
    padding: 20px;
    box-sizing: border-box;

    opacity: 0;
    pointer-events: none;

    transform: translate(-50%, -50%) scale(0.9);
    transition: transform .15s ease, opacity .15s ease;
}

.lightbox.show .wrapper {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}



/* 關閉按鈕 */
.wrapper .buttons {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 100;
}

.buttons .close-icon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    border-radius: 50%;
    background: rgba(136, 136, 136, .45);

}



/* 圖片 */
.wrapper .preview-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.preview-img .img {
    max-height: 88vh;

}

.preview-img img {
    display: block;
    max-width: 100%;
    max-height: 88vh;
    object-fit: contain;
    border-radius: 8px;
}


/* Responsive media query code */
@media screen and (max-width: 688px) {

    .gallery .images .img {
        width: calc((100% - 15px) / 2);
        /* 2欄 */
    }

    .lightbox .wrapper {
        padding: 12px;
        max-width: calc(100% - 26px);
    }

    .wrapper .preview-img {
        margin-top: 15px;
    }

    .wrapper .buttons {
        top: 24px;
        right: 0;
    }
}